<!-- section-slider -->
<section class="section-slider container" id="aboutus">
  <h2 hidden>Testimonials</h2>
  <!-- Слайдер -->
  <div class="testimonial-slider">
    <!-- Карточка 1 -->
    <div class="testimonial-item">
      <img class="testimonial-picture" srcset="./images/slider/curly-girl@2x.jpg 2x"
        src="./images/slider/curly-girl.jpg" alt="photo of a person" />
      <div class="text-wraper">
        <svg class="icon-gap" width="54" height="40">
          <use href="./images/slider/sprite.svg#icon-gaps"></use>
        </svg>
        <p class="text-testimonial">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
      <div>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <h3 class="testimonial-person">Emily, Los Angeles</h3>
    </div>
    <!-- Карточка 2 -->
    <div class="testimonial-item">
      <img class="testimonial-picture" srcset="./images/slider/girl-with-glasses@2x.jpg 2x"
        src="./images/slider/girl-with-glasses.jpg" alt="photo of a person" />
      <div class="text-wraper">
        <svg class="icon-gap" width="54" height="40">
          <use href="./images/slider/sprite.svg#icon-gaps"></use>
        </svg>
        <p class="text-testimonial">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
      <div>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <h3 class="testimonial-person">Emily, Los Angeles</h3>
    </div>
    <!-- Карточка 3 -->
    <div class="testimonial-item">
      <img class="testimonial-picture" srcset="./images/slider/smiling-girl@2x.jpg 2x"
        src="./images/slider/smiling-girl.jpg" alt="photo of a person" />
      <div class="text-wraper">
        <svg class="icon-gap" width="54" height="40">
          <use href="./images/slider/sprite.svg#icon-gaps"></use>
        </svg>
        <p class="text-testimonial">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
      <div>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <h3 class="testimonial-person">Emily, Los Angeles</h3>
    </div>
  </div>
</section>