.section-slider {
  width: 100%;
  max-width: 77rem;
  margin: 0 auto;
  padding-top: 154px;
  padding-bottom: 170px;
}

.testimonial-item {
  text-align: center;
}

.testimonial-picture {
  width: 85px;
  height: 85px;
  margin-right: auto;
  margin-bottom: 29px;
  margin-left: auto;
}

.text-testimonial {
  position: relative;
  color: $primary-black-color;
  font-family: $text-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  width: 157px;
  background-image: -webkit-linear-gradient(
    top,
    transparent,
    transparent 28px,
    $main-background-color 0
  );
  -webkit-background-size: 100% 20px;
  background-size: 100% 29px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.text-wraper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 308px;
  background-color: $second-background-color;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.icon-gap {
  position: absolute;
  top: 20px;
  left: 61px;
  fill: $main-background-color;
}

.dot {
  height: 4px;
  width: 4px;
  background-color: $accent-color;
  border-radius: 50%;
  display: inline-block;
}

.testimonial-person {
  font-family: $text-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  padding-top: 18px;
  padding-bottom: 30px;
}

/* Точки (булиты) */
.testimonial-slider {
  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slick-dots li {
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 18px;
    }
    &:first-child {
      width: 12px;
      height: 12px;
      background-image: url(/images/slider/home.svg);
      background-size: contain;
      overflow: hidden;
      &:active,
      &:hover,
      &:focus {
        border: dotted 0.1px black;
      }
    }
    &:first-child {
      button {
        background-color: transparent;
        width: 0px;
        height: 0px;
        margin: -1px;
        border: 0;
        padding: 0;
        overflow: hidden;
        clip: rect(0 0 0 0);
      }
    }
  }

  /* Активная точка */
  .slick-dots li.slick-active button {
    background-color: #d31342;
  }

  /* Элемент точки */
  .slick-dots li button {
    cursor: pointer;
    display: block;
    font-size: 0;
    width: 12px;
    height: 12px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: #d9d9d9;
  }
}

@media screen and (min-width: 768px) {
  .section-slider {
    padding-top: 279px;
    padding-bottom: 197px;
  }

  .testimonial-picture {
    margin-bottom: 19px;
  }

  .text-wraper {
    width: 620px;
    height: 164px;
    margin-bottom: 24px;
  }

  .text-testimonial {
    width: 460px;
    height: 83px;
    font-size: 14px;
    line-height: 28px;
  }
  .icon-gap {
    top: 30px;
    left: 52px;
  }
  .testimonial-person {
    padding-top: 14px;
    padding-bottom: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .section-slider {
    padding-top: 382px;
    padding-bottom: 234px;
  }

  .testimonial-picture {
    margin-bottom: 15px;
  }

  .text-wraper {
    width: 926px;
    height: 138px;
    margin-bottom: 15px;
  }

  .text-testimonial {
    width: 750px;
    height: 52px;
    font-size: 16px;
    line-height: 30px;
  }
}
